.nav-button {
    background-color: none !important;
    border: none !important;
    color: black !important;
    margin-right: 5px;
}

.nav-button:hover {
    background-color: lightgray !important;
}
.nav-items {
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.margin-nav {
    margin-left: 5%;
    margin-right: 5%;
}
